  .grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 50px auto 60px;
}

  .card {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    box-shadow: var(--boxShadow);
    border : 5px solid var(--white-color);    
  }
  .front-image {
    width: 90px;
    height: auto;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
      backface-visibility: hidden;
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  
  .card .front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.card .back {
    background: 
        url("./image/cardBachground.png") repeat center center;
    background-size: 30%;
}
  
  .card .front {
    transform: rotateY(180deg);
  }
  
